:root {
  --vp-layout-max-width: 100%;
}

.VPDoc .container {
  max-width: 100% !important;
}

.VPDoc .content {
  max-width: 100% !important;
}

.VPDoc .content-container {
  max-width: 100% !important;
}
